:root{
    --primary-font :'Poppins', sans-serif;
    --secondary-font : 'Press Start 2P', system-ui; 
    --primary-color : #7b1fcc;
    --secondary-color : #490486;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--primary-font);
    height: 100%;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:left;
    height: 10vh;
    margin-top: 20px;
    padding: 0px 50px 0px 50px;
    
}
.list{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 15px;
}
.btn-top{
    position: absolute;
    justify-content: right;
    right: 50px;
    border: none;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
}
.hero{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    align-items: center;
    border: none;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 200px;
    position: absolute;

    
}
h1{
    font-size:50px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin: 0px 100px 0 50px;
}
h1> span{
    color: var(--secondary-color);
}
p{
    margin: 0px 100px 0 50px;
    
}
/* .logo {
    filter: grayscale(100%) contrast(100%) brightness(100%) sepia(0%) hue-rotate(0deg) invert(0%) saturate(0%) opacity(100%) drop-shadow(0px 0px 10px rgb(159, 99, 232));
  }
   */
  
.list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color)
  }
  
  .list li {
    cursor: pointer;
  }
  
  .list li:hover {
    color: var(--secondary-color);
  }